.Photos {
  margin-left: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

/* PHOTOS LIST */
.photos-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.photos-list-img {
  width: fit-content;
  height: 20vw;
}

.photos-list-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* PHOTOS FULLSCREEN */
.photos-fullscreen {
  width: 90vw;
  height: 80vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.photos-fullscreen button {
  border: 4px solid green;
  background-color: black;
  color: green;
  font-family: monospace;
  font-size: xx-large;
  width: fit-content;
}

.photos-fullscreen-img {
  width: 100%;
  height: 90%;
  box-sizing: border-box;
  text-align: center;
}

.fullscreen-img {
  object-fit: contain;
  width: 98%;
  height: 98%;
}


@media screen and (orientation:landscape) and (max-width: 1024px){
  .Photos {
    margin-top: 5em;
    margin-left: 0;
  }
  .photos-img {
    width: 60vw;
    height: 30vw;
  }
  .photos-fullscreen-img {
    width: 100%;
    height: 70%;
  }
}

@media screen and (orientation:portrait) {
  .Photos {
    margin-top: 5em;
    margin-left: 0;
  }
  .photos-img {
    width: 80vw;
    height: 60vw;
  }
  .photos-fullscreen-img {
    width: 100%;
    height: 60%;
  }
}
