.Navbar {
  border: 4px solid grey;
  z-index: 1;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.nav-activity-bar {
  border: 4px solid grey;
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.nav-activity-bar button{
  border: 2px solid black;
  background-color: black;
}

.nav-icons {
  color: green;
}

@media screen and (orientation:landscape) and (max-width: 1024px){
  .Navbar {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  .nav-activity-bar {
    flex-direction: row;
  }
}

@media screen and (orientation:portrait) {
  .Navbar {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  .nav-activity-bar {
    flex-direction: row;
  }
}
