.NavBrand {
  margin-left: 1vw;
  width: 25%;
  font-size: xxx-large;
  font-weight: bold;
}

.NavMenu {
  max-height: 80vh;
  width: 100%;
  font-size: xx-large;
}

.NavMenu ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.NavHome {
  color: var(--primary-color);
}

.NavSocial {
  margin-right: 1vw;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 2em;
}

.NavSocial a {
  text-decoration: none;
  color: var(--primary-color);
}
