.App {
  display: flex;
  flex-direction: row;
}

@media screen and (orientation:landscape) and (max-width: 1024px){
  .App {
    flex-direction: column;
  }
}

@media screen and (orientation:portrait) {
  .App {
    flex-direction: column;
  }
}
