/* For page wide styling only */
:root {
  --nav-margin: 12vh;
  --background-color: black;
  --primary-color:  rgb(32, 206, 49);
  --secondary-color: white;
  --active-color: blue;
}

/* Base */
/* Use border box for everything.
  Makes it easier to style things when using borders. */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  font-family:'Courier New', Courier, monospace;
  background-color: var(--background-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--active-color);
}

button:hover {
  cursor: pointer;
  color: var(--active-color);
  border-color: var(--active-color);
}

.onclick:hover {
  cursor: pointer;
}

